@using System.Security.Claims
@model BuckleUp.Models.ViewModels.CourseDetailsVM

@{
    bool loggedInTeacherIsCourseTeacher = false;

    if(Model.Course != null){
        loggedInTeacherIsCourseTeacher = Model.Course.TeacherId == Guid.Parse(User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier).Value);
    }
}



@if(Model.Course != null){
    <h1>@Model.Course.Title</h1> 
    <br/>

    if( loggedInTeacherIsCourseTeacher ) {

        if(Model.Course.StudentCourses.Count() == 0) {<h1>None of your student is taking this course</h1>}


        <form asp-controller="Teacher" asp-action="DeleteCourse" method="POST">
                <input asp-for="TeacherId" class="form-control" value=@Model.Course.TeacherId hidden/>
                <input asp-for="CourseId" class="form-control" value=@Model.Course.Id hidden/>    
            
                <div class="form-group">
                    <input type="submit" value="Delete Course" class="btn btn-danger" />
                </div>
              
            </form>  

        foreach(var item in Model.Course.StudentCourses){
            <h1>@item.Student.FirstName @item.Student.LastName</h1>
        }
    
    }

    if(User.IsInRole("Student")){
        if(Model.Student.TeacherStudents.FirstOrDefault(tchStud => tchStud.TeacherId == Model.Course.TeacherId ) != null ){

            <h1>Your teacher is offering this course</h1>

            <form asp-controller="Student" asp-action="Enroll" method="POST">
                <input asp-for="TeacherId" class="form-control" value=@Model.Course.TeacherId hidden/>
                <input asp-for="CourseId" class="form-control" value=@Model.Course.Id hidden/>    
                <input asp-for="SourceId" class="form-control" value=111 hidden/>    
                @if( Model.Student.StudentCourses.FirstOrDefault( stdcou => stdcou.CourseId == Model.Course.Id) == null){
                    <div class="form-group">
                        <input type="submit" value="Enroll" class="btn btn-success" />
                    </div>
                }
                else{
                    <div class="form-group">
                        <input type="submit" value="Unenroll" class="btn btn-danger" />
                    </div>
                }        
            </form>  
            
        }
    }

    
}