@using BuckleUp.Models.ViewModels
@model BuckleUp.Models.ViewModels.TakeAssessmentVM

@{
    Layout = "_SimpleLayout";
}

@section Styles{
    <link rel="stylesheet" href="~/css/radiobutton.css" />
}
<div class="container" style="margin: 0px auto;">
    <h4>Taking the assessment</h4>

    <div class="row ml-auto mr-auto">
        <div class="col-md-8 ml-auto mr-auto">
            <form method="POST" asp-action="TakeAssessment">
                @{
                    QuestionOptionDisplayVM questionOptionDisplayVM = new  QuestionOptionDisplayVM{
                        questions = Model.questions,
                        selectedAnswer = new string[Model.questions.Length] 
                    };
                }
                <div class="mb-5">
                      <partial name="_QuestionAndAnswerTaking" model=@questionOptionDisplayVM />
                </div>
              

                <input type="submit" value="Submit" class="btn btn-success" />

            </form>
        </div>
    </div>
</div>