.assessmentresultoption{
    border: 2px solid #ece9e4;
    margin-bottom: 1em;
    padding : 10px 5px;
}
.assessmentresultcorrectanswer{
    background-color: #76f0a0;
}

.assessmentresultwronganswer{
    background-color: #df9d9d;
}