<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard - BuckleUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/dashboardstyle.css">
</head>

<body>
    <partial name="@ViewBag.SideBar" />
    <div id="right-panel" class="right-panel">
        <partial name="_DashboardTopBar" />
        <div class="content">
            @RenderBody()
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/dashboardscript.js"></script>
     @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
