<form asp-action="Register" method="GET">
    <div class="form-group">
        <label for="id" class="control-label">Enter Quiz Code</label>
        <input type="text" id="id" name="id" class="form-control" />
    </div>

    <input type="submit" value="Go" class="btn btn-primary" />
</form>


<button class="btn btn-primary">Sign Up To Create A Quiz</button>